.navbar{
    background-color:white;
}

.top-section { 
    height: 100vh;
    width: 100vw;
    background-image: url(https://www.pokemoncenter-online.com/a/img/item/4902370553024/L/c59288b434f2dd867ba20774622d7d5107c1972392baede6e526a5a2f1bce2ef.jpg);
    background-size: cover;
}

.top-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.top-content h1 {
    font-size: 8em;
    font-weight: bold;
    font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
    color: rgb(4, 83, 241);
    text-align: center;
}

.content-section { 
    background-color: #1008f1;
}

.content-section .container { 
    padding: 1rem;
}

.my-footer{
    height: 20vh;
    background-color: white;
}

.my-footer .container { 
    padding: 1rem;
}

.footer-row{
    height: 100%;
}

.privacy-policy-link{
    color: #3cbf49;
}